Repository kubernetes/cloud-provider-alibaba-cloud, pull requests merged in 2019-08, with the labels that each got.

#76 add new test cases.
  cloud-controller-manager/alicloud_test.go
  cloud-controller-manager/clientmgr.go
  cloud-controller-manager/framework.go
  cmd/e2e/README.md
  cmd/e2e/framework/flags.go
  cmd/e2e/test/service.go
  docs/usage.md
  docs/zh/usage.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XXL

#82 add log for node controller,
  cloud-controller-manager/alicloud.go
  cloud-controller-manager/controller/node/controller.go
Labels: cncf-cla: yes, size/M

#83 support for binding pod ip to slb backend directly via eni
  cloud-controller-manager/clientmgr.go
  cloud-controller-manager/controller/service/context.go
  cloud-controller-manager/controller/service/controller.go
  cloud-controller-manager/framework.go
  cloud-controller-manager/instances_mock.go
  cloud-controller-manager/listeners.go
  cloud-controller-manager/loadbalancer.go
  cloud-controller-manager/options.go
  cloud-controller-manager/privatezone.go
  cloud-controller-manager/utils/const.go
  cloud-controller-manager/vgroups.go
  cmd/e2e/e2e_test.go
  cmd/e2e/framework/flags.go
  cmd/e2e/framework/framework.go
  cmd/e2e/test/combination.go
  cmd/e2e/test/service.go
  docs/usage.md
  docs/zh/usage.md
  hack/setup.sh
  vendor/github.com/denverdino/aliyungo/ecs/eni.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XXL

#84 configure node weight according to pods on the nodecordon
  cloud-controller-manager/controller/service/controller.go
  cloud-controller-manager/framework.go
  cloud-controller-manager/loadbalancer.go
  cloud-controller-manager/options.go
  cloud-controller-manager/utils/const.go
  cloud-controller-manager/vgroups.go
  cmd/e2e/framework/framework.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L
